{{! Iterate to create individual posts on homepage }}

<article class="post">
  <a href="/post/{{id}}" class="post-title-href">{{title}}</a>

  <div class="meta">Created on
    {{shorten_date created_at}}
    {{!-- <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a> --}}
  </div>

</article>