{{! GET ONE Post }}

<div class="card single-post-card text-center">
  <div class="post-body">
    <h3 class="single-post-title">{{post.title}}</h3>
    <p class="card-text">{{post.post_text}}</p>
  </div>
  <div class="meta">
    By:
    {{user.username}}
    |
    {{shorten_date post.created_at}}
  </div>
</div>

<form class="comment-form">
  <h3 class="comment-title">Add a Comment</h3>
  <div>
    <textarea class="comment-text" name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit" class="comment-btn">Submit</button>
  </div>
</form>

<div class="comments">
  {{#each post.comments}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        on
        {{shorten_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>