{{! GET ONE Post }}

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#">Comment</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title single-post-title">{{post.title}}</h5>
    <p class="card-text">{{post_text}}</p>
  </div>
  <div class="meta">
    By:
    {{user.username}}
    |
    {{post.created_at}}
  </div>
</div>

<form class="comment-form">
  <div>
    <textarea name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

<div class="comments">
  {{#each post.comments}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        on
        {{created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>