{{! --------Post Card Starts--------- }}
<div class="card single-post-card text-center">
  <div class="post-body">
    <h3 class="single-post-title">{{post.title}}</h3>
    <p class="card-text">{{post.post_text}}</p>
  </div>
  <div class="meta">
    By:
    {{post.user.username}}
    on
    {{shorten_date post.created_at}}
  </div>
</div>
{{! --------Post Card Ends--------- }}

{{! --------Comment Form Starts--------- }}
<form class="comment-form">
  <h3 class="comment-title">Add a Comment</h3>
  <div>
    <label hidden for="comment-textarea"></label>
    <textarea
      type="text"
      ,
      id="comment-text"
      name="comment-text"
      placeholder="Comment here"
    ></textarea>
  </div>

  <div>
    <button type="submit btn-submit" class="comment-btn">Submit</button>
  </div>
</form>
{{! --------Comment Form Ends--------------- }}

{{! ------------Comment Cards Start--------- }}
<section class="cards comments">
  <div class="section-title">
    <h3 class="cards-section-title">Comments:</h3>
  </div>

  {{#each post.comments}}
    <div class="card w-75 mx-auto mb-4">
      <div class="card-body">

        <div class="meta">
          {{user.username}}
          on
          {{shorten_date created_at}}
        </div>

        <p class="card-text">{{comment_text}}</p>
      </div>
    </div>
  {{/each}}

</section>
{{! ------Comment Cards End--------------- }}

<script src="/javascript/comment.js"></script>